*{
    box-sizing: border-box;
    margin: 0px;
}
.main-portfolio-container{
    background-color: #011a28;
    height: 100vh;
    width: 100vw;
}

.nav-section-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 20px;
    background-color:transparent;
    height: 45px;
    padding-top: 25px;
    font-weight: bold;
}

.anchor-item:hover{
    text-shadow:0 0 10px #0ef;
    transform: scale(1.3);
    

}

.anchor-section-container{
    text-decoration: none;
    display: flex;
    
}
.anchor-item{
    padding: 14px;
}
@media(min-width:768px){
    .anchor-item{
        padding: 40px;
    }
}
.home-container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    font-size: 27px;
    height: 100vh;
    color: #fff;
}
.home-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hello-text{
    font-weight: bold;
    font-size: 25px;
    color:#ec4f11;
}
.ruchi-text{
    font-weight:bold;
    font-size: 40px;
    color:#cce226
}
.role-container{
    font-weight:bold;
    font-size: 30px;
}
@media(min-width:768px){
    .home-container{
        font-size: 40px;
    }
}

.home-ruchi-img{
    height: 280px;
    width: 280px;
    border-radius: 50%;
    animation:imageshadow 2s infinite alternate;

}
@media (min-width:768px){
    .home-ruchi-img{
        height: 380px;
        width: 380px;
    }
}
@keyframes imageshadow{
    0%{
        box-shadow: 0 0 10px #0ef;
    }
    50%{
        box-shadow: 0 0 50px #0ef;
    }
    100%{
        box-shadow: 0 0 10px #0ef;
    }
}

.stack-text{
    color: #0ef;
}
.contact-logos-container{
    display: flex;
}
.contact-logo{
    text-shadow:0 0 6px aqua;
    margin:10px;
    padding:10px;
    font-size:35px;
}
.contact-logo:hover{
    text-shadow:0 0 6px aqua;
    /* font-size:45px; */
    transform: scale(1.3);
}
.more-about-me{
    background-color: #0ef; 
    border-radius: 25px;
    font-size: 15px;
    text-align: center;
    color: black;
    box-shadow: 0 0 6px #0ef;
    padding: 10px;

}
.more-about-me:hover{
    box-shadow: 0 0 6px #0ef;
    transform: scale(1.3);
}

/* section2 */
.section2-bg-container{
    background-color: #011a28;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}
.about-me-text-container{
    color: #fff;
    /* font-size: 24px; */
    padding: 40px;
}
.about-name{
    font-size: 60px;
}
.me-name{
     font-size: 60px;
     color: #0ef;
}
.developer-name{
    font-size: 40px;
    color: #f40e0e;
}
.about-me{
    font-size: 23px;
    /* color: rgb(98, 18, 237); */
}

























